.header {

  &__wrapper {
    background-color: #60B9CE;
    height: 100vh;
  }

  &__top {
    background-color: #015367;
    display: grid;
    grid-template-columns: repeat(8, 120px);
    column-gap: 25px;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    grid-column: span 2;
  }

  &__nav {
    grid-column: span 4;
  }

  &__contact {
    grid-column: span 2;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(8, 120px);
    column-gap: 25px;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 88px;
    text-transform: uppercase;
    max-width: 500px;
    color: #f3f3f3;

    &--accent {
      color: #015367;
    }

    grid-column: span 4;
  }

  &__body-image {
    width: 100%;
    grid-column: span 4;
    padding-block: 30px;
    border-radius: 50%;
    transform: rotate(10deg);
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(8, 120px);
    column-gap: 25px;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    text-decoration: none;
    color: #015367;
    background-color: #60B9CE;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 10px;

    transition: 0.3s;

    &:hover {
      color: #60B9CE;
      background-color: #04819E;
    }
  }

  &__servise {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    justify-content: center;
    align-items: start;
    grid-column: 2 / 7;
  }

  &__servise-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;

    transition: 0.3s;

    &:hover {
      scale: 1.2;
    }
  }

  &__servise-description {
    color: #015367;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
  }

  &__servise-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
}