.price {

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(8, 120px);
    column-gap: 25px;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
    font-size: 65px;
    color: #015367;

    grid-column: span 8;
    text-align: center;
  }

  &__content {
    grid-column: span 8;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 25px;
    row-gap: 25px;
    justify-content: center;
    align-items: start;

    padding-top: 50px;
  }

  &__item {
    padding-bottom: 50px;

    grid-column: span 3;

    &--align--center {
      grid-column: span 6;
    }

    box-shadow: -1px 1px 54px -30px rgba(66, 68, 90, 1);
    border-radius: 40px;
  }

  &__item-title {
    font-size: 40px;
    color: #04819E;
    padding-inline: 30px;
    padding-top: 20px;
  }

  &__item-content {
    display: flex;
    gap: 20px;

    padding-top: 20px;
    padding-inline: 30px;
  }

  &__item-description {
    font-weight: 700;

    p {
      font-size: 25px;
    }
  }

  &__item-price {
    p {
      font-size: 25px;
    }
  }
}