.contact-us {
  grid-column: span 8;

  &__img {
    width: 100%;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }

  &__left-side {
    grid-column: span 4;

    padding-top: 50px;
    padding-left: 50px;

    display: flex;
    flex-direction: column;
  }

  &__right-side {
    grid-column: span 4;
  }

  &__title {
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__description {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
}