.content {

  grid-column: span 8;
  background: rgb(51, 204, 204);
  background: linear-gradient(177deg, rgba(51, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 73%);
  padding-top: 50px;
  padding-inline: 120px;
  height: 87vh;
  box-sizing: border-box;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 70px;

    &--modify {
      color: #009999;
    }
  }

  &__bg {
    width: 400px;
  }

  &__body {
    padding-top: 150px;
  }
}