.header {
  height: 100vh;
  background-color: #f3f3f3;

  &__top {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 33px;

    // position: fixed;
    // left: 0;
    // right: 0;
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }
}

.logo {
  display: flex;

  &__header {
    height: 120px;
  }
}