.nav {

  &__list {
    list-style: none;

    display: flex;
    gap: 20px;
  }

  &__iten {}

  &__link {
    color: #60B9CE;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 5px;
  }
}